@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './styles/mixins';
@import './variables.scss';
* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

img {
    max-width: 100%;
}
html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
